https://github.com/VervaekeLab/NANSEN@x/issue/030-create-tutorial
https://github.com/openMetadataInitiative/openMINDS_MATLAB@x/feature/021-change-collection
https://github.com/ehennestad/openMINDS-MATLAB-UI
https://github.com/NansenModules/NANSEN-SHAREbrain
https://github.com/NansenModules/NANSEN-NWB
https://github.com/ehennestad/EBRAINS-MATLAB
